## EDA and Modeling Notebook for WNV Kaggle Submission

In [1]:
# Import all relevant packages:

import pandas as pd
import pandas_profiling
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import KFold, cross_val_score, cross_val_predict
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score



%matplotlib inline

### Importing the Data: Reading the 4 CSV's

In [2]:
train = pd.read_csv('./assets/train.csv')
test = pd.read_csv('./assets/test.csv')
weather = pd.read_csv('./assets/weather.csv')
spray = pd.read_csv('./assets/spray.csv')

##### Checking the Data Types and Column Names

**Excerpt from Weather Data Description .txt:**
- `M`: Missing Data, or data that are not normally reported for the station
- `-`: values not available for sunrise/sunset.
    - because each date has two reported data from station 1 and 2. Therefore, station 2 column of the date has no sunrise/sunset data.

In [3]:
# Printing the Data Types in each .csv:

print("Train set data types:\n")
print(train.dtypes)
print("-----")
print("Test set data types:\n")
print(test.dtypes)
print("-----")
print("Weather set data types:\n")
print(weather.dtypes)
print("-----")
print("Spray set data types:\n")
print(spray.dtypes)

Train set data types:

Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
NumMosquitos                int64
WnvPresent                  int64
dtype: object
-----
Test set data types:

Id                          int64
Date                       object
Address                    object
Species                    object
Block                       int64
Street                     object
Trap                       object
AddressNumberAndStreet     object
Latitude                  float64
Longitude                 float64
AddressAccuracy             int64
dtype: object
-----
Weather set data types:

Station          int64
Date            object
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object
-----
Spray set data types:

Date          object
Time          object
Latitude     float64
Longitude    float64
dtype: object

In [4]:
# Now, selecting only "Object" Columns to determine possible classifiers

train_cats = train.select_dtypes(include=['object']).columns
test_cats = test.select_dtypes(include=['object']).columns
weather_cats = weather.select_dtypes(include=['object']).columns
spray_cats = spray.select_dtypes(include=['object']).columns

print(train_cats,'\n')
print(test_cats,'\n')
print(weather_cats,'\n')
print(spray_cats,'\n')

Index(['Date', 'Address', 'Species', 'Street', 'Trap',
       'AddressNumberAndStreet'],
      dtype='object')

Index(['Date', 'Address', 'Species', 'Street', 'Trap',
       'AddressNumberAndStreet'],
      dtype='object')

Index(['Date', 'Tavg', 'Depart', 'WetBulb', 'Heat', 'Cool', 'Sunrise',
       'Sunset', 'CodeSum', 'Depth', 'Water1', 'SnowFall', 'PrecipTotal',
       'StnPressure', 'SeaLevel', 'AvgSpeed'],
      dtype='object')

Index(['Date', 'Time'], dtype='object')

### Examining the Weather Dataset

In [5]:
weather.head(5).T

                      0           1           2           3           4
Station               1           2           1           2           1
Date         2007-05-01  2007-05-01  2007-05-02  2007-05-02  2007-05-03
Tmax                 83          84          59          60          66
Tmin                 50          52          42          43          46
Tavg                 67          68          51          52          56
Depart               14           M          -3           M           2
DewPoint             51          51          42          42          40
WetBulb              56          57          47          47          48
Heat                  0           0          14          13           9
Cool                  2           3           0           0           0
Sunrise            0448           -        0447           -        0446
Sunset             1849           -        1850           -        1851
CodeSum                                      BR       BR HZ
Depth                 0           M           0           M           0
Water1                M           M           M           M           M
SnowFall            0.0           M         0.0           M         0.0
PrecipTotal        0.00        0.00        0.00        0.00        0.00
StnPressure       29.10       29.18       29.38       29.44       29.39
SeaLevel          29.82       29.82       30.09       30.08       30.12
ResultSpeed         1.7         2.7          13        13.3        11.7
ResultDir            27          25           4           2           7
AvgSpeed            9.2         9.6        13.4        13.4        11.9

In [6]:
weather.describe()

,Station,Tmax,Tmin,DewPoint,ResultSpeed,ResultDir
count,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000,2944.000000
mean,1.500000,76.166101,57.810462,53.457880,6.960666,17.494905
std,0.500085,11.461970,10.381939,10.675181,3.587527,10.063609
min,1.000000,41.000000,29.000000,22.000000,0.100000,1.000000
25%,1.000000,69.000000,50.000000,46.000000,4.300000,7.000000
50%,1.500000,78.000000,59.000000,54.000000,6.400000,19.000000
75%,2.000000,85.000000,66.000000,62.000000,9.200000,25.000000
max,2.000000,104.000000,83.000000,75.000000,24.100000,36.000000

In [7]:
weather['Station'].nunique()

2

##### Data Munging Anomalies of Note:

- 11 missing values in `weather['Tavg']` 
- `weather['Tavg']` should be classified as an integer
- 1472 values missing in `weather['Depart']`

In [8]:
# Find "missing" values denoted as 'M' in the Data, in Columns from Highest to Lowest

(weather[weather.columns] == 'M').sum().sort_values(ascending=False)

Water1         2944
Depart         1472
SnowFall       1472
Depth          1472
Tavg             11
Cool             11
Heat             11
SeaLevel          9
StnPressure       4
WetBulb           4
AvgSpeed          3
PrecipTotal       2
Date              0
Tmax              0
Tmin              0
Sunrise           0
DewPoint          0
ResultDir         0
Sunset            0
CodeSum           0
ResultSpeed       0
Station           0
dtype: int64

In [9]:
# Now, look for missing values in the 'Tavg' column

weather[weather['Tavg'] == 'M']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
7,2,2007-05-04,78,51,M,M,42,50,M,M,...,,M,M,M,0.00,29.36,30.04,10.1,7,10.4
505,2,2008-07-08,86,46,M,M,68,71,M,M,...,TS RA,M,M,M,0.28,29.16,29.80,7.4,24,8.3
675,2,2008-10-01,62,46,M,M,41,47,M,M,...,,M,M,M,0.00,29.30,29.96,10.9,33,11.0
1637,2,2011-07-22,100,71,M,M,70,74,M,M,...,TS TSRA BR,M,M,M,0.14,29.23,29.86,3.8,10,8.2
2067,2,2012-08-22,84,72,M,M,51,61,M,M,...,,M,M,M,0.00,29.39,M,4.7,19,M
2211,2,2013-05-02,71,42,M,M,39,45,M,M,...,,M,M,M,0.00,29.51,30.17,15.8,2,16.1
2501,2,2013-09-24,91,52,M,M,48,54,M,M,...,,M,M,M,0.00,29.33,30.00,5.8,9,7.7
2511,2,2013-09-29,84,53,M,M,48,54,M,M,...,RA BR,M,M,M,0.22,29.36,30.01,6.3,36,7.8
2525,2,2013-10-06,76,48,M,M,44,50,M,M,...,RA DZ BR,M,M,M,0.06,29.10,29.76,10.1,25,10.6
2579,2,2014-05-02,80,47,M,M,43,47,M,M,...,RA,M,M,M,0.04,29.10,29.79,10.7,23,11.9
2811,2,2014-08-26,86,49,M,M,68,71,M,M,...,,M,M,M,T,29.41,30.04,1.3,15,5.8

In [10]:
# Determining worth of Columns with Missing Values
weather['Depart'].value_counts().head()

M     1472
 2      93
-1      84
-2      80
 5      77
Name: Depart, dtype: int64

In [11]:
print(weather['WetBulb'].nunique())
weather['WetBulb'].value_counts().head()

48

63    135
65    131
59    129
61    123
64    121
Name: WetBulb, dtype: int64

In [12]:
print(weather['Heat'].nunique())
weather['Heat'].value_counts().head()

31

0    1870
4      88
1      86
2      81
8      67
Name: Heat, dtype: int64

In [13]:
print(weather['Cool'].nunique())
weather['Cool'].value_counts().head()

31

 0    1147
 8     138
12     117
 5     117
10     110
Name: Cool, dtype: int64

In [14]:
weather['Depth'].value_counts()

0    1472
M    1472
Name: Depth, dtype: int64

In [15]:
weather['Water1'].value_counts()
# Omitting the "Water1" variable above, due to its breadth of missing values.

M    2944
Name: Water1, dtype: int64

In [16]:
weather['SnowFall'].value_counts()
# Snowfall also seems inconseqential, so this will be omitted from the EDA as well.

M      1472
0.0    1459
  T      12
0.1       1
Name: SnowFall, dtype: int64

In [17]:
weather= weather.drop(['Depth','SnowFall','Water1'], axis=1)

##### Attempting to Extract the "CodeSum" variable for a closer look

In [18]:
weather['CodeSum'].value_counts()

                      1609
RA                     296
RA BR                  238
BR                     110
TSRA RA BR              92
BR HZ                   81
RA DZ BR                65
TSRA RA                 43
HZ                      39
RA BR HZ                38
TSRA                    34
RA DZ                   22
TSRA BR                 21
TS TSRA RA BR           19
RA HZ                   16
TS RA                   13
TSRA RA BR HZ           12
TS TSRA BR              10
TS                      10
DZ BR                   10
DZ BR HZ                 9
TSRA BR HZ               8
TS RA BR                 8
DZ                       8
TS TSRA RA               7
TS TSRA                  7
RA DZ BR HZ              7
TS TSRA BR HZ            7
FG+ BR                   4
TSRA HZ                  4
                      ...
RA DZ FG+ FG BR          1
RA VCTS                  1
TSRA BR HZ VCTS          1
TSRA BR HZ FU            1
BR VCTS                  1
TSRA RA HZ FU            1
TS RA FG+ FG BR          1
RA DZ FG+ BR             1
HZ FU                    1
RA BR HZ VCFG            1
TS TSRA RA BR VCTS       1
FG+ FG BR                1
TSRA FG+ BR              1
RA BCFG BR               1
TS TSRA GR RA BR         1
RA DZ SN                 1
RA FG+ BR                1
HZ VCTS                  1
BCFG BR                  1
TS TSRA RA FG BR         1
TSRA FG+ BR HZ           1
RA BR VCFG               1
TS RA BR HZ              1
TS TSRA VCFG             1
TSRA DZ BR HZ            1
TS HZ                    1
RA BR FU                 1
FG+ BCFG BR              1
BR HZ VCFG               1
RA BR HZ VCTS            1
Name: CodeSum, Length: 98, dtype: int64

In [19]:
# Credit to Brian Collins - creating List of targets for Weather classfiers

patterns = ['SH', 'DZ', 'RA', 'TS', 'BR']

# Now, iterate this list through all the CodeSum to find the columns with the patterns list via a for loop

weather['CodeSum'] = weather['CodeSum'].apply(lambda x: ' '.join([t for t in x.split(' ') 
                                                                   if t in patterns]))

weather.CodeSum.value_counts()

            1692
RA BR        406
RA           366
BR           245
RA DZ BR      81
TS RA BR      37
RA DZ         23
TS BR         23
TS RA         22
DZ BR         21
TS            20
DZ             8
Name: CodeSum, dtype: int64

### Let's take a look at some of the other columns.

In [20]:
# 318 values are just trace rainfall, indicated by "T"

weather.PrecipTotal=weather.PrecipTotal.str.strip()
weather[weather.PrecipTotal == 'T']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
6,1,2007-05-04,66,49,58,4,41,50,7,0,0444,1852,RA,T,29.31,30.05,10.4,8,10.8
8,1,2007-05-05,66,53,60,5,38,49,5,0,0443,1853,,T,29.40,30.10,11.7,7,12.0
9,2,2007-05-05,66,54,60,M,39,50,5,0,-,-,,T,29.46,30.09,11.2,7,11.5
12,1,2007-05-07,83,47,65,10,41,54,0,0,0441,1856,RA,T,29.38,30.12,8.6,18,10.5
15,2,2007-05-08,80,60,70,M,57,63,0,5,-,-,,T,29.36,30.02,2.5,8,5.4
47,2,2007-05-24,88,66,77,M,53,63,0,12,-,-,RA,T,29.47,30.10,13.8,20,15.2
48,1,2007-05-25,70,56,63,1,44,53,2,0,0423,1914,,T,29.51,30.24,4.9,5,8.8
54,1,2007-05-28,79,50,65,2,47,56,0,0,0421,1916,RA,T,29.43,30.15,4.8,10,5.3
65,2,2007-06-02,81,68,75,M,62,67,0,10,-,-,RA BR,T,29.10,29.76,7.5,21,8.2
73,2,2007-06-06,73,48,61,M,47,55,4,0,-,-,RA,T,29.13,29.82,9.6,15,10.6
92,1,2007-06-16,93,66,80,11,60,67,0,15,0416,1929,RA,T,29.26,29.97,4.8,28,5.8
93,2,2007-06-16,92,68,80,M,61,68,0,15,-,-,,T,29.33,29.96,2.1,22,6.1
103,2,2007-06-21,80,66,73,M,51,61,0,8,-,-,RA,T,29.41,30.06,3.7,2,9.6
104,1,2007-06-22,76,61,69,-1,50,58,0,4,0417,1931,RA,T,29.33,30.06,7.8,6,8.7
105,2,2007-06-22,75,62,69,M,49,58,0,4,-,-,RA,T,29.39,30.05,6.5,7,8.1
113,2,2007-06-26,91,73,82,M,69,72,0,17,-,-,BR,T,29.45,30.09,7.3,21,8.1
169,2,2007-07-24,82,65,74,M,57,64,0,9,-,-,,T,29.38,30.03,1.1,21,4.9
170,1,2007-07-25,85,71,78,4,61,67,0,13,0438,1918,,T,29.29,30.00,5.8,25,6.6
224,1,2007-08-21,87,69,78,7,70,72,0,13,0505,1845,BR,T,29.21,29.91,3.8,18,6.0
240,1,2007-08-29,85,68,77,7,65,69,0,12,0514,1832,,T,29.34,30.04,5.6,3,8.2
241,2,2007-08-29,86,69,78,M,64,69,0,13,-,-,,T,29.39,30.02,5.3,3,8.8
254,1,2007-09-05,90,66,78,11,63,69,0,13,0521,1821,RA,T,29.24,29.96,6.4,19,6.5
266,1,2007-09-11,71,50,61,-4,44,52,4,0,0527,1810,,T,29.20,29.92,11.7,29,13.5
267,2,2007-09-11,71,51,61,M,44,52,4,0,-,-,,T,29.26,29.91,12.1,29,13.7
298,1,2007-09-27,75,49,62,2,49,55,3,0,0544,1741,BR,T,29.26,29.97,4.9,24,6.5
299,2,2007-09-27,74,52,63,M,49,55,2,0,-,-,RA BR,T,29.31,29.97,4.5,25,5.8
311,2,2007-10-03,74,56,65,M,47,56,0,0,-,-,,T,29.34,29.97,4.8,25,7.1
324,1,2007-10-10,54,47,51,-4,38,44,14,0,0558,1719,RA DZ,T,29.21,29.93,15.1,31,15.5
325,2,2007-10-10,53,47,50,M,37,44,15,0,-,-,,T,29.26,29.93,14.4,31,14.6
343,2,2007-10-19,61,53,57,M,48,52,8,0,-,-,RA DZ,T,28.82,29.45,17.7,24,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2670,1,2014-06-17,91,77,84,15,64,70,0,19,0416,1929,RA,T,29.15,29.86,9.1,22,12.6
2686,1,2014-06-25,80,59,70,-1,58,61,0,5,0417,1931,BR,T,29.28,29.98,6.8,4,7.3
2690,1,2014-06-27,88,59,74,3,62,67,0,9,0418,1931,BR,T,29.28,30.00,7.9,16,9.8
2698,1,2014-07-01,80,67,74,2,60,65,0,9,0420,1931,RA,T,29.02,29.72,12.3,24,12.4
2706,1,2014-07-05,77,60,69,-3,54,60,0,4,0422,1930,RA,T,29.41,30.16,8.0,21,8.3
2719,2,2014-07-11,83,63,73,M,54,63,0,8,-,-,,T,29.48,30.13,5.5,17,6.5
2746,1,2014-07-25,75,55,65,-9,54,60,0,0,0438,1918,,T,29.24,29.98,8.4,21,9.1
2747,2,2014-07-25,77,60,69,M,57,62,0,4,-,-,,T,29.31,29.97,8.7,21,9.2
2768,1,2014-08-05,80,64,72,-1,62,65,0,7,0449,1907,BR,T,29.31,30.03,4.8,3,6.3
2792,1,2014-08-17,71,64,68,-4,61,63,0,3,0501,1851,DZ BR,T,29.23,29.96,7.9,3,8.5
2811,2,2014-08-26,86,49,M,M,68,71,M,M,-,-,,T,29.41,30.04,1.3,15,5.8
2814,1,2014-08-28,77,67,72,2,57,63,0,7,0513,1834,RA,T,29.35,30.08,7.6,8,8.6
2819,2,2014-08-30,86,74,80,M,69,72,0,15,-,-,,T,29.21,29.83,11.4,22,12.4
2823,2,2014-09-01,85,74,80,M,69,72,0,15,-,-,,T,29.13,29.76,12.7,22,13.2
2850,1,2014-09-15,62,51,57,-7,48,52,8,0,0531,1803,RA,T,29.41,30.14,2.2,30,4.9
2851,2,2014-09-15,62,54,58,M,50,54,7,0,-,-,RA DZ,T,29.46,30.13,2.9,29,6.4
2862,1,2014-09-21,69,51,60,-2,50,55,5,0,0538,1751,RA,T,29.26,29.94,10.5,31,12.7
2863,2,2014-09-21,70,52,61,M,51,56,4,0,-,-,,T,29.31,29.93,9.4,31,12.9
2879,2,2014-09-29,84,57,71,M,57,61,0,6,-,-,RA,T,29.33,29.99,4.5,34,9.0
2880,1,2014-09-30,58,47,53,-6,47,50,12,0,0547,1735,DZ BR,T,29.29,30.03,8.8,2,9.7
2881,2,2014-09-30,61,51,56,M,49,52,9,0,-,-,DZ BR,T,29.36,30.02,9.1,2,10.7
2883,2,2014-10-01,73,52,63,M,51,57,2,0,-,-,RA,T,29.28,29.95,8.0,13,8.6
2891,2,2014-10-05,56,42,49,M,36,44,16,0,-,-,RA,T,29.02,29.70,10.1,23,10.7
2894,1,2014-10-07,66,48,57,1,43,50,8,0,0555,1724,,T,29.00,29.69,9.8,25,11.5
2912,1,2014-10-16,56,50,53,1,49,51,12,0,0605,1709,DZ BR,T,29.02,29.77,4.1,24,7.4
2913,2,2014-10-16,58,53,56,M,52,53,9,0,-,-,DZ BR,T,29.09,29.77,5.4,25,8.4
2914,1,2014-10-17,62,48,55,3,46,50,10,0,0606,1707,,T,28.99,29.69,11.1,29,13.2
2927,2,2014-10-23,62,41,52,M,41,47,13,0,-,-,BR,T,29.46,30.16,7.9,19,8.4
2936,1,2014-10-28,68,45,57,10,38,47,8,0,0619,1651,,T,29.15,29.85,14.8,26,15.6
2941,2,2014-10-30,53,37,45,M,35,42,20,0,-,-,RA,T,29.41,30.10,5.9,23,6.5

In [21]:
# 0.00 total rainfall/precipiation has 1,577 values.

weather[weather.PrecipTotal == '0.00']

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,-,-,,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,-,-,BR,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0.00,29.39,30.12,11.7,7,11.9
5,2,2007-05-03,67,48,58,M,40,50,7,0,-,-,,0.00,29.46,30.12,12.9,6,13.2
7,2,2007-05-04,78,51,M,M,42,50,M,M,-,-,,0.00,29.36,30.04,10.1,7,10.4
10,1,2007-05-06,68,49,59,4,30,46,6,0,0442,1855,,0.00,29.57,30.29,14.4,11,15.0
11,2,2007-05-06,68,52,60,M,30,46,5,0,-,-,,0.00,29.62,30.28,13.8,10,14.5
13,2,2007-05-07,84,50,67,M,39,53,0,2,-,-,,0.00,29.44,30.12,8.5,17,9.9
14,1,2007-05-08,82,54,68,12,58,62,0,3,0439,1857,BR,0.00,29.29,30.03,2.7,11,5.8
18,1,2007-05-10,84,56,70,14,52,60,0,5,0437,1859,BR,0.00,29.20,29.92,0.7,17,4.1
19,2,2007-05-10,83,59,71,M,52,61,0,6,-,-,BR,0.00,29.26,29.91,2.0,9,3.9
20,1,2007-05-11,70,51,61,4,42,51,4,0,0436,1860,,0.00,29.33,30.04,11.3,3,12.9
21,2,2007-05-11,73,49,61,M,44,51,4,0,-,-,,0.00,29.39,30.03,11.7,36,12.8
22,1,2007-05-12,64,46,55,-2,36,46,10,0,0435,1901,,0.00,29.49,30.20,12.4,3,12.9
23,2,2007-05-12,65,47,56,M,37,46,9,0,-,-,,0.00,29.54,30.19,12.7,1,13.0
24,1,2007-05-13,69,43,56,-2,33,46,9,0,0434,1902,,0.00,29.49,30.24,6.6,14,8.1
25,2,2007-05-13,69,44,57,M,32,46,8,0,-,-,,0.00,29.55,30.24,6.4,11,7.6
26,1,2007-05-14,90,56,73,15,47,59,0,8,0433,1903,,0.00,29.23,29.97,16.9,21,17.3
27,2,2007-05-14,90,54,72,M,45,58,0,7,-,-,,0.00,29.31,29.98,14.1,21,14.6
32,1,2007-05-17,62,43,53,-6,32,43,12,0,0430,1906,,0.00,29.55,30.27,10.5,3,11.3
33,2,2007-05-17,61,44,53,M,32,43,12,0,-,-,,0.00,29.62,30.27,11.7,1,12.2
34,1,2007-05-18,71,42,57,-3,30,46,8,0,0429,1907,,0.00,29.53,30.25,5.4,25,7.5
35,2,2007-05-18,70,43,57,M,31,47,8,0,-,-,,0.00,29.60,30.26,3.4,22,5.5
36,1,2007-05-19,80,56,68,8,39,53,0,3,0428,1908,,0.00,29.34,30.08,11.1,24,11.4
37,2,2007-05-19,80,56,68,M,37,53,0,3,-,-,,0.00,29.41,30.08,11.1,23,11.4
40,1,2007-05-21,80,44,62,1,50,56,3,0,0426,1910,,0.00,29.33,30.06,6.3,11,8.2
41,2,2007-05-21,79,46,63,M,50,57,2,0,-,-,,0.00,29.39,30.05,6.3,10,7.8
42,1,2007-05-22,87,55,71,10,46,58,0,6,0425,1911,,0.00,29.34,30.06,10.0,18,10.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2876,1,2014-09-28,78,53,66,7,55,59,0,1,0545,1739,BR,0.00,29.38,30.12,2.3,6,3.2
2877,2,2014-09-28,79,58,69,M,57,62,0,4,-,-,BR,0.00,29.44,30.10,2.6,8,3.3
2882,1,2014-10-01,70,49,60,2,50,55,5,0,0548,1734,,0.00,29.22,29.95,10.3,13,10.4
2895,2,2014-10-07,69,49,59,M,45,51,6,0,-,-,,0.00,29.06,29.70,10.3,24,11.7
2896,1,2014-10-08,65,44,55,-1,35,46,10,0,0556,1722,,0.00,29.27,29.97,11.0,27,11.3
2897,2,2014-10-08,67,48,58,M,36,48,7,0,-,-,,0.00,29.34,29.97,10.7,27,11.2
2898,1,2014-10-09,62,43,53,-2,34,44,12,0,0557,1720,,0.00,29.38,30.09,3.4,36,5.8
2899,2,2014-10-09,64,50,57,M,36,46,8,0,-,-,,0.00,29.44,30.09,3.4,2,6.3
2900,1,2014-10-10,58,39,49,-6,39,44,16,0,0558,1719,,0.00,29.43,30.16,7.7,2,8.2
2901,2,2014-10-10,59,44,52,M,40,46,13,0,-,-,,0.00,29.49,30.16,3.8,2,5.2
2902,1,2014-10-11,59,36,48,-6,34,42,17,0,0559,1717,,0.00,29.47,30.20,2.8,8,4.5
2903,2,2014-10-11,60,40,50,M,36,44,15,0,-,-,,0.00,29.53,30.20,3.5,8,4.7
2918,1,2014-10-19,54,33,44,-7,38,43,21,0,0608,1704,,0.00,29.31,30.07,7.8,21,8.2
2919,2,2014-10-19,57,36,47,M,40,44,18,0,-,-,,0.00,29.39,30.09,8.8,21,9.0
2921,2,2014-10-20,66,50,58,M,46,51,7,0,-,-,,0.00,29.23,29.90,4.9,32,9.1
2922,1,2014-10-21,53,45,49,-1,39,44,16,0,0611,1701,,0.00,29.46,30.16,10.8,1,11.4
2923,2,2014-10-21,54,49,52,M,41,46,13,0,-,-,,0.00,29.51,30.15,11.0,36,11.6
2924,1,2014-10-22,56,35,46,-4,38,43,19,0,0612,1660,,0.00,29.56,30.30,2.9,8,4.8
2925,2,2014-10-22,56,43,50,M,38,44,15,0,-,-,,0.00,29.62,30.30,3.0,11,5.1
2926,1,2014-10-23,59,36,48,-1,40,45,17,0,0613,1658,BR,0.00,29.39,30.15,7.5,19,7.8
2928,1,2014-10-24,67,52,60,11,46,52,5,0,0614,1657,,0.00,29.25,30.00,4.4,22,5.8
2929,2,2014-10-24,68,54,61,M,48,53,4,0,-,-,,0.00,29.31,30.00,4.9,22,5.8
2930,1,2014-10-25,72,49,61,13,40,51,4,0,0616,1656,BR,0.00,29.21,29.93,10.4,29,10.9
2931,2,2014-10-25,75,52,64,M,41,52,1,0,-,-,BR,0.00,29.27,29.92,9.7,28,10.4
2932,1,2014-10-26,64,42,53,5,32,44,12,0,0617,1654,,0.00,29.21,29.95,0.9,5,5.8
2933,2,2014-10-26,66,44,55,M,33,45,10,0,-,-,,0.00,29.28,29.95,1.6,11,5.4
2934,1,2014-10-27,77,51,64,16,51,58,1,0,0618,1653,,0.00,28.92,29.66,12.0,19,12.9
2938,1,2014-10-29,49,36,43,-4,32,40,22,0,0620,1650,,0.00,29.36,30.06,9.5,29,9.9
2939,2,2014-10-29,49,40,45,M,34,42,20,0,-,-,,0.00,29.42,30.07,8.5,29,9.0
2940,1,2014-10-30,51,32,42,-4,34,40,23,0,0622,1649,,0.00,29.34,30.09,5.1,24,5.5

In [22]:
weather.groupby('Station')['Tmax'].mean()

Station
1    75.978940
2    76.353261
Name: Tmax, dtype: float64

##### Split data station 1 and 2, and re-shape the "Weather" dataframe by joining horizontally (courtesy of abhishek's Kaggle submission)

In [23]:
weather_stn1 = weather[weather['Station'] == 1]
weather_stn2 = weather[weather['Station'] == 2]
weather_stn1 = weather_stn1.drop('Station', axis=1)
weather_stn2 = weather_stn2.drop('Station', axis=1)
weather = weather_stn1.merge(weather_stn2, on='Date')

In [24]:
(weather[weather.columns] == 'M').sum().sort_values(ascending=False)

Depart_y         1472
Cool_y             11
Tavg_y             11
Heat_y             11
SeaLevel_x          5
SeaLevel_y          4
AvgSpeed_y          3
WetBulb_x           3
StnPressure_x       2
PrecipTotal_y       2
StnPressure_y       2
WetBulb_y           1
Depart_x            0
Tavg_x              0
CodeSum_x           0
DewPoint_x          0
Tmin_x              0
Heat_x              0
Cool_x              0
Sunrise_x           0
Sunset_x            0
Tmax_x              0
AvgSpeed_x          0
PrecipTotal_x       0
ResultSpeed_x       0
ResultDir_x         0
ResultDir_y         0
Tmax_y              0
Tmin_y              0
DewPoint_y          0
Sunrise_y           0
Sunset_y            0
CodeSum_y           0
ResultSpeed_y       0
Date                0
dtype: int64

In [25]:
# replace missing values and T with -1 (courtesy of abhishek)

weather = weather.replace("M", -1)
weather = weather.replace("-", -1)
weather = weather.replace("T", -1)
weather = weather.replace(" T", -1)
weather = weather.replace("  T", -1)

In [26]:
weather.describe()

,Tmax_x,Tmin_x,DewPoint_x,ResultSpeed_x,ResultDir_x,Tmax_y,Tmin_y,Depart_y,DewPoint_y,Sunrise_y,Sunset_y,ResultSpeed_y,ResultDir_y
count,1472.00000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.0,1472.000000,1472.0,1472.0,1472.000000,1472.00000
mean,75.97894,56.730978,53.377717,6.987092,17.656250,76.353261,58.889946,-1.0,53.538043,-1.0,-1.0,6.934239,17.33356
std,11.50315,10.347907,10.670263,3.586353,10.222077,11.421482,10.306855,0.0,10.683121,0.0,0.0,3.589725,9.90345
min,42.00000,29.000000,22.000000,0.100000,1.000000,41.000000,29.000000,-1.0,23.000000,-1.0,-1.0,0.300000,1.00000
25%,68.00000,49.000000,46.000000,4.400000,7.000000,69.000000,51.000000,-1.0,46.000000,-1.0,-1.0,4.275000,8.00000
50%,78.00000,58.000000,54.000000,6.400000,19.500000,78.000000,60.000000,-1.0,55.000000,-1.0,-1.0,6.500000,19.00000
75%,85.00000,65.000000,61.250000,9.100000,26.000000,85.000000,67.000000,-1.0,62.000000,-1.0,-1.0,9.225000,24.00000
max,103.00000,82.000000,75.000000,24.100000,36.000000,104.000000,83.000000,-1.0,74.000000,-1.0,-1.0,21.700000,36.00000

In [27]:
# Now, drop all the columns with only missing values.

weather.drop(columns=['Depart_y', 'Sunrise_y', 'Sunset_y'], axis=1, inplace=True)
weather.describe()

,Tmax_x,Tmin_x,DewPoint_x,ResultSpeed_x,ResultDir_x,Tmax_y,Tmin_y,DewPoint_y,ResultSpeed_y,ResultDir_y
count,1472.00000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.000000,1472.00000
mean,75.97894,56.730978,53.377717,6.987092,17.656250,76.353261,58.889946,53.538043,6.934239,17.33356
std,11.50315,10.347907,10.670263,3.586353,10.222077,11.421482,10.306855,10.683121,3.589725,9.90345
min,42.00000,29.000000,22.000000,0.100000,1.000000,41.000000,29.000000,23.000000,0.300000,1.00000
25%,68.00000,49.000000,46.000000,4.400000,7.000000,69.000000,51.000000,46.000000,4.275000,8.00000
50%,78.00000,58.000000,54.000000,6.400000,19.500000,78.000000,60.000000,55.000000,6.500000,19.00000
75%,85.00000,65.000000,61.250000,9.100000,26.000000,85.000000,67.000000,62.000000,9.225000,24.00000
max,103.00000,82.000000,75.000000,24.100000,36.000000,104.000000,83.000000,74.000000,21.700000,36.00000

In [28]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1472 entries, 0 to 1471
Data columns (total 32 columns):
Date             1472 non-null object
Tmax_x           1472 non-null int64
Tmin_x           1472 non-null int64
Tavg_x           1472 non-null object
Depart_x         1472 non-null object
DewPoint_x       1472 non-null int64
WetBulb_x        1472 non-null object
Heat_x           1472 non-null object
Cool_x           1472 non-null object
Sunrise_x        1472 non-null object
Sunset_x         1472 non-null object
CodeSum_x        1472 non-null object
PrecipTotal_x    1472 non-null object
StnPressure_x    1472 non-null object
SeaLevel_x       1472 non-null object
ResultSpeed_x    1472 non-null float64
ResultDir_x      1472 non-null int64
AvgSpeed_x       1472 non-null object
Tmax_y           1472 non-null int64
Tmin_y           1472 non-null int64
Tavg_y           1472 non-null object
DewPoint_y       1472 non-null int64
WetBulb_y        1472 non-null object
Heat_y           1472 non-null object
Cool_y           1472 non-null object
CodeSum_y        1472 non-null object
PrecipTotal_y    1472 non-null object
StnPressure_y    1472 non-null object
SeaLevel_y       1472 non-null object
ResultSpeed_y    1472 non-null float64
ResultDir_y      1472 non-null int64
AvgSpeed_y       1472 non-null object
dtypes: float64(2), int64(8), object(22)
memory usage: 379.5+ KB

In [29]:
# Feature Engineering of the "Weather" dataframe

weather['Tavg_x']= weather.Tavg_x.astype(int)
weather['Tavg_y']= weather.Tavg_y.astype(int)
weather['AvgSpeed_x']=weather.AvgSpeed_x.astype(float)
weather['AvgSpeed_y']=weather.AvgSpeed_y.astype(float)
weather['Heat_x']=weather.Heat_x.astype(int)
weather['Heat_y']=weather.Heat_y.astype(int)
weather['Cool_x']=weather.Cool_x.astype(int)
weather['Cool_y']=weather.Cool_y.astype(int)
weather['PrecipTotal_x']=weather.PrecipTotal_x.astype(float)
weather['PrecipTotal_y']=weather.PrecipTotal_y.astype(float)
weather['StnPressure_x']=weather.StnPressure_x.astype(float)
weather['StnPressure_y']=weather.StnPressure_y.astype(float)
weather['StnPressure_x']=weather.StnPressure_x.astype(float)
weather['StnPressure_y']=weather.StnPressure_y.astype(float)
weather['SeaLevel_x']=weather.SeaLevel_x.astype(float)
weather['SeaLevel_y']=weather.SeaLevel_y.astype(float)

**Now, let's add a Date Separator function (Courtesy of Brian Collins) to pull the years/months/days of each date into separate columns.**

In [30]:
def date_separate(df):
    df = df.copy()
    df['Year'] = pd.DatetimeIndex(df['Date']).year
    df['Month'] = pd.DatetimeIndex(df['Date']).month
    df['Day'] = pd.DatetimeIndex(df['Date']).day
    return df

In [31]:
# Apply the entire dataset to this new function.

train=date_separate(train)
test=date_separate(test)
weather=date_separate(weather)
spray=date_separate(spray)

### Now, to the Train/Test sets:

In [32]:
train.head(1)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,Month,Day
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0,2007,5,29

In [33]:
train.describe()

,Block,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,Month,Day
count,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000,10506.000000
mean,35.687797,41.841139,-87.699908,7.819532,12.853512,0.052446,2009.576242,7.692557,15.341424
std,24.339468,0.112742,0.096514,1.452921,16.133816,0.222936,2.354645,1.067675,8.901205
min,10.000000,41.644612,-87.930995,3.000000,1.000000,0.000000,2007.000000,5.000000,1.000000
25%,12.000000,41.732984,-87.760070,8.000000,2.000000,0.000000,2007.000000,7.000000,7.000000
50%,33.000000,41.846283,-87.694991,8.000000,5.000000,0.000000,2009.000000,8.000000,15.000000
75%,52.000000,41.954690,-87.627796,9.000000,17.000000,0.000000,2011.000000,8.000000,24.000000
max,98.000000,42.017430,-87.531635,9.000000,50.000000,1.000000,2013.000000,10.000000,31.000000

In [34]:
# Throw a PandasProfiler here for more detail:

pandas_profiling.ProfileReport(train)

In [35]:
# Threre are duplicate rows present, but with such a large dataset, it probably indicates identical measurements at identical locations.
# Also, the dates seem to be different, so the rows will be kept.
print(train.duplicated().value_counts())
train[train.duplicated()]

False    9693
True      813
dtype: int64

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,Month,Day
99,2007-06-26,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0,2007,6,26
295,2007-07-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,50,0,2007,7,11
351,2007-07-11,"3500 West 116th Street, Chicago, IL 60655, USA",CULEX PIPIENS/RESTUANS,35,W 116TH ST,T158,"3500 W 116TH ST, Chicago, IL",41.682587,-87.707973,9,50,0,2007,7,11
353,2007-07-11,"3500 West 116th Street, Chicago, IL 60655, USA",CULEX PIPIENS/RESTUANS,35,W 116TH ST,T158,"3500 W 116TH ST, Chicago, IL",41.682587,-87.707973,9,50,0,2007,7,11
512,2007-07-18,"3300 West Randolph Street, Chicago, IL 60612, USA",CULEX RESTUANS,33,E RANDOLPH ST,T044,"3300 E RANDOLPH ST, Chicago, IL",41.883284,-87.705085,8,1,0,2007,7,18
531,2007-07-18,"South Stony Island Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,10,S STONY ISLAND AVE,T138,"1000 S STONY ISLAND AVE, Chicago, IL",41.726465,-87.585413,5,50,0,2007,7,18
548,2007-07-18,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,18
587,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
588,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
589,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
590,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
591,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
593,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0,2007,7,19
602,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
604,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
605,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
606,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
607,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
608,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
609,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
611,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,1,2007,7,25
612,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
613,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
615,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
616,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
617,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
619,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
620,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
621,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
622,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0,2007,7,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8972,2013-07-19,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS/RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,50,0,2013,7,19
8980,2013-07-19,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,7,19
8981,2013-07-19,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,7,19
9150,2013-07-25,"ORD Terminal 5, O'Hare International Airport, ...",CULEX RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,7,25
9157,2013-07-25,"ORD Terminal 5, O'Hare International Airport, ...",CULEX RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,5,0,2013,7,25
9229,2013-08-01,"3500 West 116th Street, Chicago, IL 60655, USA",CULEX PIPIENS/RESTUANS,35,W 116TH ST,T158,"3500 W 116TH ST, Chicago, IL",41.682587,-87.707973,9,46,0,2013,8,1
9308,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9311,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9312,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9313,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9314,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9315,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9318,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9319,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9323,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9324,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9327,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9329,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,1
9330,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,1
9678,2013-08-15,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,3,0,2013,8,15
9902,2013-08-29,"University of Illinois at Chicago, 1100 South ...",CULEX PIPIENS/RESTUANS,11,S ASHLAND AVE,T090,"1100 S ASHLAND AVE, Chicago, IL",41.868077,-87.666901,9,50,0,2013,8,29
9969,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,8,29
9975,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,29
9976,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,8,29
9992,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,8,29
10013,2013-08-29,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,1,2013,8,29
10102,2013-09-06,"3700 South Pulaski Road, Chicago, IL 60623, USA",CULEX PIPIENS,37,S PULASKI RD,T063,"3700 S PULASKI RD, Chicago, IL",41.825610,-87.726549,9,9,0,2013,9,6
10124,2013-09-06,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1,2013,9,6
10262,2013-09-12,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0,2013,9,12
10392,2013-09-19,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,13,0,2013,9,19

In [36]:
test.head(1)

,Id,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,Year,Month,Day
0,1,2008-06-11,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,2008,6,11

In [37]:
test.describe()

,Id,Block,Latitude,Longitude,AddressAccuracy,Year,Month,Day
count,116293.000000,116293.000000,116293.000000,116293.000000,116293.000000,116293.000000,116293.000000,116293.000000
mean,58147.000000,41.131100,41.849389,-87.693658,7.954357,2010.702759,7.620244,16.187681
std,33571.041765,24.864726,0.106593,0.080699,1.252733,2.128750,1.065842,8.800007
min,1.000000,10.000000,41.644612,-87.930995,3.000000,2008.000000,6.000000,1.000000
25%,29074.000000,18.000000,41.753411,-87.750938,8.000000,2008.000000,7.000000,10.000000
50%,58147.000000,39.000000,41.862292,-87.694991,8.000000,2010.000000,8.000000,17.000000
75%,87220.000000,61.000000,41.951866,-87.648860,9.000000,2012.000000,8.000000,24.000000
max,116293.000000,98.000000,42.017430,-87.531635,9.000000,2014.000000,10.000000,31.000000

In [38]:
# Show the Unique mosquito species:

print("# of unique train set species: ", train['Species'].nunique(), '\n')
train['Species'].value_counts()

# of unique train set species:  7

CULEX PIPIENS/RESTUANS    4752
CULEX RESTUANS            2740
CULEX PIPIENS             2699
CULEX TERRITANS            222
CULEX SALINARIUS            86
CULEX TARSALIS               6
CULEX ERRATICUS              1
Name: Species, dtype: int64

In [39]:
# Checking which species have the West Nile virus via 'WnvPresent':

train.groupby('WnvPresent')['Species'].value_counts()

WnvPresent  Species
0           CULEX PIPIENS/RESTUANS    4490
            CULEX RESTUANS            2691
            CULEX PIPIENS             2459
            CULEX TERRITANS            222
            CULEX SALINARIUS            86
            CULEX TARSALIS               6
            CULEX ERRATICUS              1
1           CULEX PIPIENS/RESTUANS     262
            CULEX PIPIENS              240
            CULEX RESTUANS              49
Name: Species, dtype: int64

In [40]:
train.WnvPresent.value_counts()

0    9955
1     551
Name: WnvPresent, dtype: int64

In [41]:
print("# of unique test set species: ", test['Species'].nunique(), '\n')
test['Species'].value_counts()

# of unique test set species:  8

CULEX PIPIENS/RESTUANS    15359
CULEX RESTUANS            14670
CULEX PIPIENS             14521
CULEX SALINARIUS          14355
CULEX TERRITANS           14351
CULEX TARSALIS            14347
UNSPECIFIED CULEX         14345
CULEX ERRATICUS           14345
Name: Species, dtype: int64

In [42]:
# Let's briefly take a look at the trap locations across Chicago

print("# of unique train set traps: ", train['Trap'].nunique(), '\n')
train['Trap'].value_counts().head()

# of unique train set traps:  136

T900    750
T115    542
T138    314
T002    185
T135    183
Name: Trap, dtype: int64

In [43]:
# We have 138 locations, but only 136 traps.  
# This would imply that two of these traps have been moved.

In [44]:
train.groupby("Trap")["AddressNumberAndStreet"].nunique().value_counts()

1    134
2      2
Name: AddressNumberAndStreet, dtype: int64

In [45]:
train.groupby("Trap")["AddressNumberAndStreet"].nunique() == 2

Trap
T001    False
T002    False
T003    False
T004    False
T005    False
T006    False
T007    False
T008    False
T009     True
T011    False
T012    False
T013    False
T014    False
T015    False
T016    False
T017    False
T018    False
T019    False
T025    False
T027    False
T028    False
T030    False
T031    False
T033    False
T034    False
T035     True
T036    False
T037    False
T039    False
T040    False
        ...
T160    False
T161    False
T162    False
T200    False
T206    False
T209    False
T212    False
T215    False
T218    False
T219    False
T220    False
T221    False
T222    False
T223    False
T224    False
T225    False
T226    False
T227    False
T228    False
T229    False
T230    False
T231    False
T232    False
T233    False
T235    False
T236    False
T237    False
T238    False
T900    False
T903    False
Name: AddressNumberAndStreet, Length: 136, dtype: bool

In [46]:
# T009 and T035 have been moved from their locations.  Let's take a look at some datapoints from these two locations:

In [47]:
train[train["Trap"] == "T035"]

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,Month,Day
389,2007-07-11,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,7,11
513,2007-07-18,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,7,18
561,2007-07-19,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,3,0,2007,7,19
759,2007-07-27,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,3,0,2007,7,27
760,2007-07-27,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,7,27
1061,2007-08-01,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,6,0,2007,8,1
1062,2007-08-01,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,5,0,2007,8,1
1602,2007-08-07,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,4,0,2007,8,7
1603,2007-08-07,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,8,7
1954,2007-08-15,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,9,0,2007,8,15
1955,2007-08-15,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,1,2007,8,15
1956,2007-08-15,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,4,0,2007,8,15
2312,2007-08-21,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,5,0,2007,8,21
2313,2007-08-21,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,2,0,2007,8,21
2314,2007-08-21,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,5,0,2007,8,21
2646,2007-08-24,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,8,0,2007,8,24
2647,2007-08-24,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,2,0,2007,8,24
3127,2007-09-12,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,3,0,2007,9,12
3128,2007-09-12,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,9,12
3274,2007-09-18,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,4,0,2007,9,18
3275,2007-09-18,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,2,0,2007,9,18
3276,2007-09-18,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX TERRITANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,9,18
3516,2007-09-24,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,2,0,2007,9,24
3517,2007-09-24,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,2,0,2007,9,24
3518,2007-09-24,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX TERRITANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,1,0,2007,9,24
3723,2007-10-04,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,3,0,2007,10,4
3724,2007-10-04,"3000 South Hoyne Avenue, Chicago, IL 60608, USA",CULEX PIPIENS,30,S HOYNE AVE,T035,"3000 S HOYNE AVE, Chicago, IL",41.836644,-87.677737,8,14,0,2007,10,4
6223,2011-06-17,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2011,6,17
6224,2011-06-17,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2011,6,17
6316,2011-06-24,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,3,0,2011,6,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8044,2011-09-23,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,7,0,2011,9,23
8045,2011-09-23,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2011,9,23
8109,2011-09-30,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,3,0,2011,9,30
8187,2013-06-07,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,6,7
8304,2013-06-14,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,2,0,2013,6,14
8305,2013-06-14,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,2,0,2013,6,14
8417,2013-06-21,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,10,0,2013,6,21
8546,2013-06-28,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,3,0,2013,6,28
8547,2013-06-28,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,6,28
8660,2013-07-08,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2013,7,8
8661,2013-07-08,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,3,0,2013,7,8
8838,2013-07-12,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2013,7,12
8839,2013-07-12,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,2,0,2013,7,12
9017,2013-07-19,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,9,0,2013,7,19
9178,2013-07-25,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2013,7,25
9355,2013-08-01,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,3,0,2013,8,1
9356,2013-08-01,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,8,1
9540,2013-08-08,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,7,0,2013,8,8
9695,2013-08-15,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,18,0,2013,8,15
9862,2013-08-22,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,4,0,2013,8,22
9863,2013-08-22,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,8,22
10006,2013-08-29,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2013,8,29
10007,2013-08-29,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,2,0,2013,8,29
10152,2013-09-06,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,31,1,2013,9,6
10287,2013-09-12,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,0,2013,9,12
10288,2013-09-12,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,9,12
10289,2013-09-12,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,11,0,2013,9,12
10405,2013-09-19,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,19,0,2013,9,19
10406,2013-09-19,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,1,0,2013,9,19
10501,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,1,2013,9,26

In [48]:
train[train["Trap"]== "T009"]

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Year,Month,Day
50,2007-06-05,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,2,0,2007,6,5
221,2007-07-02,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,2,0,2007,7,2
312,2007-07-11,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,1,0,2007,7,11
313,2007-07-11,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,14,0,2007,7,11
714,2007-07-27,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,1,0,2007,7,27
715,2007-07-27,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,1,0,2007,7,27
716,2007-07-27,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,1,0,2007,7,27
862,2007-08-01,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,2,0,2007,8,1
863,2007-08-01,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,6,0,2007,8,1
864,2007-08-01,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,2,0,2007,8,1
865,2007-08-01,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,23,0,2007,8,1
866,2007-08-01,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,11,0,2007,8,1
1512,2007-08-07,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,9,0,2007,8,7
1513,2007-08-07,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,1,0,2007,8,7
1514,2007-08-07,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,27,0,2007,8,7
1831,2007-08-15,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,38,1,2007,8,15
1832,2007-08-15,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,27,1,2007,8,15
2224,2007-08-21,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,8,0,2007,8,21
2225,2007-08-21,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,45,0,2007,8,21
2555,2007-08-24,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,7,0,2007,8,24
2556,2007-08-24,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,3,0,2007,8,24
2557,2007-08-24,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,28,1,2007,8,24
2844,2007-09-04,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,13,0,2007,9,4
2845,2007-09-04,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,34,0,2007,9,4
2846,2007-09-04,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,50,0,2007,9,4
2847,2007-09-04,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,43,0,2007,9,4
3077,2007-09-12,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,5,0,2007,9,12
3214,2007-09-18,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,6,0,2007,9,18
3215,2007-09-18,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,21,0,2007,9,18
3437,2007-09-24,"9100 West Higgins Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS AVE,T009,"9100 W HIGGINS AVE, Chicago, IL",41.981964,-87.812827,8,3,0,2007,9,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,2013-07-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,26,0,2013,7,12
8803,2013-07-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,7,12
8804,2013-07-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,45,0,2013,7,12
8805,2013-07-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,7,12
8975,2013-07-19,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,2,0,2013,7,19
9138,2013-07-25,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,23,0,2013,7,25
9139,2013-07-25,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,21,0,2013,7,25
9140,2013-07-25,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,46,0,2013,7,25
9305,2013-08-01,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,5,0,2013,8,1
9306,2013-08-01,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,3,0,2013,8,1
9507,2013-08-08,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,20,0,2013,8,8
9508,2013-08-08,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,8,8
9509,2013-08-08,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,38,1,2013,8,8
9659,2013-08-15,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,26,0,2013,8,15
9660,2013-08-15,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,2,0,2013,8,15
9661,2013-08-15,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,5,0,2013,8,15
9829,2013-08-22,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,8,22
9830,2013-08-22,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,12,0,2013,8,22
9831,2013-08-22,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,33,0,2013,8,22
9967,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,31,1,2013,8,29
9968,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,8,29
9969,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0,2013,8,29
9970,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,38,1,2013,8,29
9971,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,27,1,2013,8,29
10116,2013-09-06,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,27,0,2013,9,6
10117,2013-09-06,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,30,1,2013,9,6
10254,2013-09-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,5,0,2013,9,12
10255,2013-09-12,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,35,0,2013,9,12
10385,2013-09-19,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,3,0,2013,9,19
10483,2013-09-26,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,1,0,2013,9,26

In [49]:
print("# of unique test set traps: ", test['Trap'].nunique(), '\n')
test['Trap'].value_counts().head()

# of unique test set traps:  149

T009    1528
T035    1520
T900    1468
T002     857
T008     822
Name: Trap, dtype: int64

In [50]:
# Let's drop all Address-related columns, since with the Location data they are somewhat useless as classifiers:

train = train.drop(['Address','AddressNumberAndStreet', "Block", "Street", "AddressAccuracy"], axis=1)
test = test.drop(['Id', 'Address','AddressNumberAndStreet', "Block", "Street", "AddressAccuracy"], axis=1)

In [51]:
# Finally, let's convert the 'Trap' column into an integer for easier sorting.

train['Trap'] = train['Trap'].str.strip('TABCabc').astype(int)
test['Trap'] = test['Trap'].str.strip('TABCabc').astype(int)

##### A brief, fairly useless glance at the Spray Dataset

In [52]:
spray.head().T

                    0           1           2           3           4
Date       2011-08-29  2011-08-29  2011-08-29  2011-08-29  2011-08-29
Time       6:56:58 PM  6:57:08 PM  6:57:18 PM  6:57:28 PM  6:57:38 PM
Latitude      42.3916     42.3913      42.391     42.3906     42.3904
Longitude    -88.0892    -88.0892    -88.0892    -88.0892    -88.0889
Year             2011        2011        2011        2011        2011
Month               8           8           8           8           8
Day                29          29          29          29          29

In [53]:
spray.describe()

           Latitude     Longitude          Year         Month           Day
count  14835.000000  14835.000000  14835.000000  14835.000000  14835.000000
mean      41.904828    -87.736690   2012.702191      7.948028     17.073812
std        0.104381      0.067292      0.712013      0.677402      7.959018
min       41.713925    -88.096468   2011.000000      7.000000      5.000000
25%       41.785001    -87.794225   2013.000000      7.000000      8.000000
50%       41.940075    -87.727853   2013.000000      8.000000     17.000000
75%       41.980978    -87.694108   2013.000000      8.000000     25.000000
max       42.395983    -87.586727   2013.000000      9.000000     29.000000

##### A look at duplicates shows that there are over 500 counts of the same time:

- Spray Time duplication - "7:44:32 PM", 541 counts
- Spray Time NaN values, 584 counts

In [54]:
spray.Time.value_counts().head()

7:44:32 PM    541
8:58:26 PM      5
9:40:27 PM      5
9:37:27 PM      5
9:31:27 PM      5
Name: Time, dtype: int64

In [55]:
# How is this data duplicated?  Do we need to drop it?

spray[spray.Time == "7:44:32 PM"].head()

           Date        Time  Latitude  Longitude  Year  Month  Day
489  2011-09-07  7:44:32 PM  41.98646 -87.794225  2011      9    7
490  2011-09-07  7:44:32 PM  41.98646 -87.794225  2011      9    7
491  2011-09-07  7:44:32 PM  41.98646 -87.794225  2011      9    7
492  2011-09-07  7:44:32 PM  41.98646 -87.794225  2011      9    7
493  2011-09-07  7:44:32 PM  41.98646 -87.794225  2011      9    7

In [56]:


spray[spray['Time'].isnull()]

            Date Time   Latitude  Longitude  Year  Month  Day
1030  2011-09-07  NaN  41.987092 -87.794286  2011      9    7
1031  2011-09-07  NaN  41.987620 -87.794382  2011      9    7
1032  2011-09-07  NaN  41.988004 -87.794574  2011      9    7
1033  2011-09-07  NaN  41.988292 -87.795486  2011      9    7
1034  2011-09-07  NaN  41.988100 -87.796014  2011      9    7
1035  2011-09-07  NaN  41.986372 -87.794862  2011      9    7
1036  2011-09-07  NaN  41.986228 -87.795582  2011      9    7
1037  2011-09-07  NaN  41.984836 -87.793998  2011      9    7
1038  2011-09-07  NaN  41.984836 -87.794670  2011      9    7
1039  2011-09-07  NaN  41.984884 -87.795198  2011      9    7
1040  2011-09-07  NaN  41.982820 -87.793182  2011      9    7
1041  2011-09-07  NaN  41.982772 -87.793950  2011      9    7
1042  2011-09-07  NaN  41.982772 -87.795006  2011      9    7
1043  2011-09-07  NaN  41.983444 -87.795246  2011      9    7
1044  2011-09-07  NaN  41.984068 -87.795438  2011      9    7
1045  2011-09-07  NaN  41.984596 -87.795534  2011      9    7
1046  2011-09-07  NaN  41.984980 -87.795630  2011      9    7
1047  2011-09-07  NaN  41.986708 -87.796110  2011      9    7
1048  2011-09-07  NaN  41.987524 -87.796302  2011      9    7
1049  2011-09-07  NaN  41.988820 -87.796638  2011      9    7
1050  2011-09-07  NaN  41.989444 -87.796830  2011      9    7
1051  2011-09-07  NaN  41.990068 -87.796974  2011      9    7
1052  2011-09-07  NaN  41.988244 -87.797022  2011      9    7
1053  2011-09-07  NaN  41.988196 -87.797742  2011      9    7
1054  2011-09-07  NaN  41.988196 -87.798366  2011      9    7
1055  2011-09-07  NaN  41.988196 -87.798942  2011      9    7
1056  2011-09-07  NaN  41.988196 -87.799422  2011      9    7
1057  2011-09-07  NaN  41.986372 -87.796494  2011      9    7
1058  2011-09-07  NaN  41.986372 -87.797310  2011      9    7
1059  2011-09-07  NaN  41.986372 -87.798030  2011      9    7
...          ...  ...        ...        ...   ...    ...  ...
1584  2011-09-07  NaN  41.992372 -87.816367  2011      9    7
1585  2011-09-07  NaN  41.992468 -87.815839  2011      9    7
1586  2011-09-07  NaN  41.992516 -87.815311  2011      9    7
1587  2011-09-07  NaN  41.992564 -87.814735  2011      9    7
1588  2011-09-07  NaN  41.992612 -87.814303  2011      9    7
1589  2011-09-07  NaN  41.992612 -87.813775  2011      9    7
1590  2011-09-07  NaN  41.992612 -87.813343  2011      9    7
1591  2011-09-07  NaN  41.992660 -87.812767  2011      9    7
1592  2011-09-07  NaN  41.992660 -87.812191  2011      9    7
1593  2011-09-07  NaN  41.992612 -87.811663  2011      9    7
1594  2011-09-07  NaN  41.992660 -87.811279  2011      9    7
1595  2011-09-07  NaN  41.992660 -87.810847  2011      9    7
1596  2011-09-07  NaN  41.992612 -87.810415  2011      9    7
1597  2011-09-07  NaN  41.992660 -87.809455  2011      9    7
1598  2011-09-07  NaN  41.992660 -87.809983  2011      9    7
1599  2011-09-07  NaN  41.992708 -87.808927  2011      9    7
1600  2011-09-07  NaN  41.992708 -87.808399  2011      9    7
1601  2011-09-07  NaN  41.992756 -87.807775  2011      9    7
1602  2011-09-07  NaN  41.992756 -87.807199  2011      9    7
1603  2011-09-07  NaN  41.996164 -87.813727  2011      9    7
1604  2011-09-07  NaN  41.995732 -87.813679  2011      9    7
1605  2011-09-07  NaN  41.994916 -87.813727  2011      9    7
1606  2011-09-07  NaN  41.992948 -87.813775  2011      9    7
1607  2011-09-07  NaN  41.996644 -87.811567  2011      9    7
1608  2011-09-07  NaN  41.996260 -87.811567  2011      9    7
1609  2011-09-07  NaN  41.995876 -87.811615  2011      9    7
1610  2011-09-07  NaN  41.995972 -87.810271  2011      9    7
1611  2011-09-07  NaN  41.995684 -87.810319  2011      9    7
1612  2011-09-07  NaN  41.994724 -87.810415  2011      9    7
1613  2011-09-07  NaN  41.993092 -87.810415  2011      9    7

[584 rows x 7 columns]

In [57]:
# all duplicates seem to be located at this location:

spray[spray.Longitude == -87.794225]['Time'].value_counts()

7:44:32 PM    541
Name: Time, dtype: int64

In [58]:
# For now, we'll assume the duplicates are for identical sampling times and leave them as is.
# Perhaps a future edit of this notebook and re-examination of the data could shed more light on this issue.

### Now, let's merge the Weather data onto the Train and Test data horizontally:

In [59]:
train = train.merge(weather, on='Date')
test = test.merge(weather, on='Date')
train = train.drop(['Date'], axis = 1)
test = test.drop(['Date'], axis = 1)

In [60]:
# Using a for loop again, let's create a function that defines mosquitos with West Nile and those without:

def bug_find(df):
    for bug in df:
        if bug == 'CULEX PIPIENS/RESTUANS':
            return 'wnv_bug'
        elif bug == 'CULEX PIPIENS':
            return 'wnv_bug'
        elif bug == 'CULEX RESTUANS':
            return 'wnv_bug'
        elif bug == 'UNSPECIFIED CULEX':
            return 'wnv_bug'
        else:
            return 'no_wnv_bug'

train['Species'] = train[['Species']].apply(bug_find, axis=1)
test['Species'] = test[['Species']].apply(bug_find, axis=1)
print(train['Species'].value_counts())
print(test['Species'].value_counts())

wnv_bug       10191
no_wnv_bug      315
Name: Species, dtype: int64
wnv_bug       58895
no_wnv_bug    57398
Name: Species, dtype: int64

In [61]:
test['Species'].value_counts()

wnv_bug       58895
no_wnv_bug    57398
Name: Species, dtype: int64

In [62]:
# Let's convert the objects in the Training dataset into floats:

train["Depart_x"] = train["Depart_x"].astype(float)

train["WetBulb_x"] = train["WetBulb_x"].astype(float)

train["Sunset_x"] = train["Sunset_x"].astype(float)

train["Sunrise_x"] = train["Sunrise_x"].astype(float)

train["WetBulb_y"] = train["WetBulb_y"].astype(float)

train = pd.get_dummies(train, columns=["CodeSum_x", "CodeSum_y"])

In [63]:
# Now, doing the same for the Test dataset:

test["Depart_x"] = test["Depart_x"].astype(float)

test["WetBulb_x"] = test["WetBulb_x"].astype(float)

test["Sunset_x"] = test["Sunset_x"].astype(float)

test["Sunrise_x"] = test["Sunrise_x"].astype(float)

test["WetBulb_y"] = test["WetBulb_y"].astype(float)

test = pd.get_dummies(test, columns=["CodeSum_x", "CodeSum_y"])

In [64]:
train = train.drop(columns=["CodeSum_x","CodeSum_y"])
test = test.drop(columns=["CodeSum_x","CodeSum_y"])

ValueError: labels ['CodeSum_x' 'CodeSum_y'] not contained in axis

### Preliminary Modeling Structures

In [ ]:
# Pull dummies on species

train = pd.get_dummies(train, columns=['Species'], drop_first=True)
test = pd.get_dummies(test, columns=['Species'], drop_first=True)

In [ ]:
print(train.shape, test.shape)

In [ ]:
train.columns

In [ ]:
test.columns

In [ ]:
target = train.WnvPresent
features = train.drop(columns=['WnvPresent', "NumMosquitos"])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(features,
                                                    target,
                                                    stratify=target,
                                                    random_state=42)

In [ ]:
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [ ]:
# Feature Engineering for Training Data

X_train['Latitude'] = train.Latitude
X_train['Tmin'] = train['Tmin']
X_train['Longitude'] = train.Longitude
X_train['Tmax'] = train.Tmax
X_train['AvgSpeed'] = train['AvgSpeed']
X_train['DewPoint'] = train.DewPoint
X_train['DayOfYear'] = pd.to_datetime(train['Date'])
X_train['CULEX PIPIENS'] = train_carry['CULEX PIPIENS']
X_train['CULEX RESTUANS'] = train_carry['CULEX RESTUANS']
X_train['WetBulb'] = train.WetBulb

X_train.shape

In [ ]:
print(X_train.isnull().sum())
print(X_test.isnull().sum())

### Models

In [ ]:
# The Following 
# lr = LogisticRegression()
# rf = RandomForestClassifier()
# ada = AdaBoostClassifier()
# pipe = make_pipeline()

In [ ]:
lr = LogisticRegression()
lr.fit(X_train, y_train)
cross_val_score(lr, X_train, y_train).mean()

In [ ]:
cross_val_score(lr, X_test, y_test).mean()

In [ ]:
rf = RandomForestClassifier()
rf.fit(X_train, y_train)
cross_val_score(rf, X_train, y_train).mean()

In [ ]:
cross_val_score(rf, X_test, y_test).mean()

In [ ]:
ada = AdaBoostClassifier()
ada.fit(X_train, y_train)
cross_val_score(ada, X_train, y_train).mean()

In [ ]:
cross_val_score(ada, X_test, y_test).mean()

### Let's do some GridSearch

In [ ]:
lr_params = {
    'penalty' : ['l1', 'l2']
}

gs = GridSearchCV(lr, param_grid=lr_params)
gs.fit(X_train, y_train)
print(gs.best_score_)
print(gs.best_params_)

In [ ]:
gs.score(X_test, y_test)

In [ ]:
print(gs.best_estimator_)

In [ ]:
X_train.shape

In [ ]:
test = ss.transform(test)

### Submission

In [ ]:
pred = gs.predict_proba(test)[:,1]

In [ ]:
pred = pd.DataFrame(pred)

In [ ]:
pred["WnvPresent"] = pred

In [ ]:
pred.drop(columns=[0],inplace=True)

In [ ]:
pred["Id"]= pred.index

In [ ]:
pred["Id"] += 1

In [ ]:
pred = pred[["Id","WnvPresent"]]

In [ ]:
# pred.to_csv("pred.csv", index=False)

In [ ]:
pred["WnvPresent"].value_counts()

**Let's find some plotting**

In [ ]:
# trying to find some plotting here

# plt.plot(train['WnvPresent'], train['Species'], 'r')

##### Check numerical columns data, find abnormalty or outliers

In [ ]:
print(train.isnull().sum().sum())
print(weather.isnull().sum().sum())
print(spray.isnull().sum().sum())

In [ ]:
train.groupby('Month')['NumMosquitos'].mean().plot(kind='bar')
plt.ylabel('Average Number of Mosquitos')
plt.title('Average Number of Mosquitos Per Month');

In [ ]:
train.groupby('Tavg_x')['NumMosquitos'].mean().plot(kind='bar')
plt.ylabel('Average Number of Mosquitos')
plt.xlabel('Average Temperature (Farenheit)')
plt.title('Average Number of Mosquitos Depending on Average Temperature');